* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ff8c00;
  background-size: cover;
  background-repeat: no-repeat;
}

table {
  border-spacing: 0;
  background: #fff;
  border-collapse: collapse;
}

thead {
  background-color: #ff8c00;
  text-transform: capitalize;
}

td {
  border-bottom: 3px solid black;

  padding: 0.25rem 0.5rem;
}

#myTable tr.header,
#myTable tbody tr:hover {
  background-color: #ccc;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  background-color: aliceblue;
  color: black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 0.5rem;
  margin-right: 0.5rem;
}
li:hover a {
  background-color: black;
  color: whITE;
}
thead tr {
  background-color: black;
  color: white;
}
td,
th {
  padding: 0.5rem;
}
