body {
  background-color: #e07924;
  animation-name: bg;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  text-align: center;
}
@keyframes bga {
  0% {
    background: #f16e00;
  }
  50% {
    background-color: #e2a26e;
  }
  100% {
    background: #f16e00;
  }
}
table {
  border-spacing: 0;
  background: #fff;
}
thead {
  background-color: #f16e00;
}
td {
  border-bottom: 3px solid black;
  padding: 0.5rem 0.25rem;
}
